<div class="jumbotron">
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>Please enter a positive number which server as a threshold in generation of some fancy sequences</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
</div>
