<div>
    <form>
        <div class="row">
            <div class="col-md-12">
                <h1>Numeric sequences generator.</h1>
                <p class="help">Generates some fancy numeric sequences</p>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="limit">Please enter the limit</label>
            <input #limit="ngModel" id="limit" name="limit" type="number" min="1" max="1000" step="1"
                   class="form-control" [(ngModel)]="model"
                   required placeholder="Please enter a positive integer." positiveInteger/>

            <div [hidden]="limit.valid || limit.pristine" class="alert alert-danger" style="max-width: 280px">
                <p>Please enter a positive integer between 1 and 1000</p>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button id="submit" type="submit" class="btn btn-primary" (click)="onSubmit()" >Submit</button>
        </div>
    </form>
    <sequence *ngFor="let seq of sequences" [sequence]="seq">
    </sequence>
</div>